* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

button {
    padding: 20px 40px;
    border: 0;
    border-radius: 30px;
    color: #fff;
    font-size: .9rem;
    font-weight: 600;
}
.primary-text {
    color: #2e2e2e;
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    font-weight: 400;
    line-height: 30px;
}
.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    color: #2e2e2e;
}
.title img {
    height: 45px;
    width: 45px; 
}
.title .games {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    color: #e84393;
}

/* nav style */
.logo h1 {
    display: flex;
    gap: 20px;
}
.title span {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    color: #e84393;
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 240px;
    background-color: #fff;
}
.follow {
    display: flex;
    align-items: center;
    column-gap: 15px;
    padding: 10px 15px;
    border-radius: 10px;
    background: rgba(11, 2, 35, 0.10);
}

.follow img {
    height: 30px;
    width: 30px;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.menu a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #2c2936;
    font-size: .8rem;
    font-weight: 400;
    padding-right: 30px;
}

 /*ended nav style */


 /*started banner style */

 .banner-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-image: url(./images/Group\ 14.png);
    background-repeat: no-repeat;
    gap: 50px;
    padding: 0 240px 100px;
 }
 .banner-content h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    color: #e84393;
    text-align: left;
 }

 .banner-content .primary-text {
    font-family: 'Montserrat', sans-serif;
    color: #2c2936;
    font-size: .8rem;
    font-weight: 500;
    margin-right: 30px;
    margin-bottom: 20px;
    text-align: left;
 }
 .banner-img {
    height: 90%;
 }
 .button-1 {
    margin: 30px 25px 50px 0px;
    color: #fff;
    background-color: #e84393;
 }
 .button-2 {
    color: #fff;
    background-color: #5f27cd;
 }
  /* Ended banner style */


 /*online gaming style*/


 .game-img-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0px 240px;
    gap: 30px;
}
 .online-game-content {
    margin: 20px 240px 20px;
    text-align: center;
 }
 .online-game-content .primary-text {
    padding: 20px 0;
 }

.game-img .primary-text {
    font-family: 'Montserrat', sans-serif;
    color: #2c2936;
    font-size: .8rem;
    font-weight: 500;
    padding: 10px 0px;
    line-height: 25px;
}

.play-icon {
    position: relative;
}
.icon {
    position: absolute;
    bottom: 50%;
    right: 40%;
    align-items: center;
    background: linear-gradient(0, 0, 0 .5);
}
.icon img {
    display: block;
}
.icon-content {
    width: 100%;
    height: 100%;
    position: absolute;
}
 /*ended online gaming style*/



 /*Started instantly gaming style*/

.play-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 250px;
    padding: 120px 240px 50px 450px;
    text-align: right;
}
.play-text-container {
   position: relative;
   bottom: 180px;
}
.play-text-container h1 {
    padding-bottom: 20px;
}
.badge {
    position: relative;
    bottom: 280px;
    right: 500px;
}

.game-category1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 240px;
}
.game-category2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 400px 100px 330px;
}
.game-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-radius: 40px;
    border: 0 ;
    padding: 5px;
    border: 2px solid #fff;
}
.game-item:hover {
    color: #e84393;
    border: 2px solid #e84393;
    cursor: pointer;
}
.game-item2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-radius: 40px;
    border: 2px solid #fff;
    padding: 5px;
}
.game-item2:hover {
    color: #e84393;
    border: 2px solid #e84393;
    cursor: pointer;
}

/*Ended instantly gaming style*/

.footer-container {
    text-align: center;
    background: #0B0223;
}
.footer-container .title {
    color: #fff; 
    padding: 50px 0px 20px;
}

.footer-sub-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    color: #fff; 
}
.footer-sub-menu li{
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    color: #fff;
    padding: 30px 20px;
}
.social-media-icon img {
    height: 40px;
    width: 40px;
    padding: 10px 20px;
}
.privacy-sub-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    color: #fff; 
}
.privacy-sub-menu li{
    font-family: 'Montserrat', sans-serif;
    font-size: .6rem;
    color: #fff;
    padding: 30px 20px;
}
.footer-container p {
    font-size: .6rem;
    color: #fff;
    padding: 20px 0px 120px;
}





@media screen and (max-width: 425px) {
    .nav-container {
        flex-direction: column;
        text-align: center;
        padding: 50px 30px;
    }
    .menu {
        flex-direction: column;
        padding: 0;
    }
    .menu a {
        margin: 25px 0px;
    }
    .banner-container {
        flex-direction: column-reverse;
        padding: 10px;
    }
    .banner-img img {
        width: 90vw;
     }
    .banner-content h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 4rem;
        font-style: normal;
        font-weight: 900;
        text-transform: uppercase;
        color: #a29bfe;
     }
     .banner-content .primary-text {
        font-family: 'Montserrat', sans-serif;
        color: #2c2936;
        font-size: .8rem;
        font-weight: 500;
        margin-right: 30px;
        text-align: center;
        margin-bottom: 20px;
        text-align: left;
     }
     .game-img-container {
        grid-template-columns: 1fr;
        padding: 50px;
        margin: 0;
    }
    .online-game-content {
        padding: 20px;
        margin: 0;
     }
     .play-container {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .play-text-container {
        padding: 20px 0px;
     }
     .game-category1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px;
        margin: 0 200px;
    }
}
  /* started responsive section for small mobile device*/




  /* Ended responsive section for small mobile device*/