* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

button {
    padding: 20px 40px;
    border: 0;
    border-radius: 30px;
    color: #fff;
    font-size: .9rem;
    font-weight: 600;
}
.primary-text {
    color: #2e2e2e;
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    font-weight: 400;
}
.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    color: #2e2e2e;
}

/* nav style */

.logo-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    color: #2e2e2e;
}
.logo-title span {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    color: #e84393;
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 240px;
    background-color: #fff;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.menu a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #2c2936;
    font-size: .8rem;
    font-weight: 400;
    margin-right: 30px;
}
.menu .follow-menu {
    padding: 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
 /*ended nav style */

 /*started banner style */

 .banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 240px;
    background-image: url(./images/Group\ 14.png);
    background-repeat: no-repeat;
 }

 .banner-content h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    color: #a29bfe;
 }
 .banner-content .primary-text {
    font-family: 'Montserrat', sans-serif;
    color: #2c2936;
    font-size: .8rem;
    font-weight: 500;
    margin-right: 30px;
    margin-bottom: 20px;
    text-align: left;
 }
 .button-1 {
    margin: 30px 25px 50px 0px;
    color: #fff;
    background-color: #e84393;
 }
 .button-2 {
    color: #fff;
    background-color: #5f27cd;
 }
  /* Ended banner style */

 /*online gaming style*/

 .online-game-content {
    margin: 20px 240px 20px;
    text-align: center;
 }
 .online-game-content .primary-text {
    padding: 20px 0;
 }
 .game-img-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0px 240px 150px;
    gap: 30px;
}

.game-img .primary-text {
    font-family: 'Montserrat', sans-serif;
    color: #2c2936;
    font-size: .8rem;
    font-weight: 500;
    padding: 10px 0px;
    line-height: 25px;
}
 /*ended online gaming style*/








@media screen and (max-width: 425px) {
    .nav-container {
        flex-direction: column;
        text-align: center;
        padding: 50px 30px;
    }
    .menu {
        flex-direction: column;
        padding: 0;
    }
    .menu a {
        margin: 25px 0px;
    }
    .banner-container {
        flex-direction: column-reverse;
        padding: 20px;
    }
    .banner-img img {
        width: 90vw;
     }
     /*.banner-content h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 4rem;
        font-style: normal;
        font-weight: 900;
        text-transform: uppercase;
        color: #a29bfe;
     }
     .banner-content .primary-text {
        font-family: 'Montserrat', sans-serif;
        color: #2c2936;
        font-size: .8rem;
        font-weight: 500;
        margin-right: 30px;
        text-align: center;
        margin-bottom: 20px;
        text-align: left;
     }*/

}

  /* started responsive section for small mobile device*/




  /* Ended responsive section for small mobile device*/